<!-- home.html -->

<div class="home-content">
    <h1>Welcome to MyProfile App</h1>
    <p> MyProfile is a simple and user-friendly application that allows you to:</p>
    <ul>
        <li>Register and log in to access exclusive features</li>
        <li>Add basic information about yourself</li>
        <li>Upload images to personalize your profile</li>
        <li>View and edit your user information</li>
        <li>Explore more exciting features and functionalities</li>
    </ul>
    <p>Get started by registering or logging in!</p>
</div>
